<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>get2</title>
  </head>
  <body>
    <h3>Get2 요청</h3>
    <h4>name : <%= name %></h4>
    <h4>age : <%= age %></h4>
  </body>
</html>
