<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>post1Result</title>
  </head>
  <body>
    <h3>Post1Result</h3>
    <h4>아이디 : <%= uid %></h4>
    <h4>비밀번호 : <%= pass %></h4>
  </body>
</html>
