<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>cookieResult</title>
  </head>
  <body>
    <h3>CookieResult</h3>
    <h4>아이디 : <%= uid %></h4>
    <h4>이름 : <%= name %></h4>
    <h4>전화번호 : <%= hp %></h4>
    <h4>나이 : <%= age %></h4>

    <a href="/sub2/cookieClear">Cookie 삭제</a>
  </body>
</html>
